<div class="col-lg-6">
    <h1>{{title}}</h1>

    <div *ngIf="alertMessage">
        <div class="alert alert-success" role="alert">
            {{alertMessage}}
        </div>
    </div>

    <form #formAlbum="ngForm" (ngSubmit)="onSubmit()">

        <form #formArtist="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <label>Title</label>
                <input type="text" #title="ngModel" name="title" [(ngModel)]="artist.title" required class="form-control"/>
                <span *ngIf="!title.valid && title.touched">
                    Title is mandatory
                </span>
            </p>

            <p>
                <label>Description</label>
                <textarea #description="ngModel" name="description" [(ngModel)]="album.description" required class="form-control"></textarea>
                <span *ngIf="!description.valid && description.touched">
                    Description is mandatory
                </span>
            </p>

            <p>
                <label>Year</label>
                <input type="text" #year="ngModel" name="year" [(ngModel)]="artist.year" required class="form-control"/>
                <span *ngIf="!year.valid && year.touched">
                    Year is mandatory
                </span>
            </p>

            <input type="submit" value="{{title}}" [disabled]="!formAlbum.form.valid" class="btn btn-success"/>

    </form>
</div>