<div class="head-page" *ngIf="identity">
    <h1>{{title}}</h1>

    <a [routerLink]="['/create-artist']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-default">
        Add artist
    </a>

    <ul class="pagination pull-right">
        <li><a [routerLink]="['/artists', prev_page]">&laquo;</a></li>
        <li><a [routerLink]="['/artists', next_page]">&raquo;</a></li>
    </ul>

</div>

<div class="clearfix"></div>
<ul class="artist-list" *ngIf="identity">
    <li *ngFor="let artist of artist" class="col-lg-3 artist-item">
        <div class="artist-image">
            <img src="{{ url + 'get-image-artist/' + artist.image }}"/>
        </div>
        <div class="artist.name">
            <a href="#">
                {{artist.name}}
            </a>

            <div class="buttons" *ngIf="identify.role == 'ROLE_ADMIN'">
                <a [routerLink]="['/edit-artist', artist._id]" class="btn btn-sm btn-warning">Edit</a>
                <a href="#" class="btn btn-sm btn-danger">Edit</a>
            </div>
        </div>
    </li>
</ul>