<div class="head-page">
    <h1>{{title}}</h1>

    <a [routerLink]="['/create-artist']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-default">
        Add artist
    </a>

    <ul class="pagination pull-right">
        <li><a [routerLink]="['/artists', prev_page]">&laquo;</a></li>
        <li><a [routerLink]="['/artists', next_page]">&raquo;</a></li>
    </ul>

</div>

<div class="clearfix"></div>
<ul class="artist-list" *ngIf="identity">
    <li *ngFor="let artist of artist" class="col-lg-3 artist-item">
        <div class="artist-image">
            <img src="{{ url + 'get-image-artist/' + artist.image }}"/>
        </div>
        <div class="artist.name">
            <a [routerLink]="['/artist', artist._id]">
                {{artist.name}}
            </a>

            <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
                <a [routerLink]="['/edit-artist', artist._id]" class="btn btn-sm btn-warning">Edit</a>
                <a (click)="onDeleteConfirm(artist._id)" class="btn btn-sm btn-danger">
                    Delete
                </a>
            </div>

            <div class="safe" *ngIf="confirmed == artist._id">
                <a (click)="onDeleteArtist(artist._id)" class="btn-sm btn-danger">
                    Delete
                </a>

                <a (click)="onCancelArtist()" class="btn-sm btn-primary">
                    Cancel
                </a>
            </div>
        </div>
    </li>
</ul>