<div class="col-lg-6">
    <h1>{{title}}</h1>

    <div *ngIf="alertMessage">
        <div class="alert alert-success" role="alert">
            {{alertMessage}}
        </div>
    </div>

    <form #formArtist="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label>Name</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required class="form-control"/>
            <span *ngIf="!name.valid && name.touched">
                Name is mandatory
            </span>
        </p>

        <p>
            <label>Description</label>
            <textarea #description="ngModel" name="description" [(ngModel)]="artist.description" required class="form-control"></textarea>
            <span *ngIf="!description.valid && description.touched">
                Description is mandatory
            </span>
        </p>

        <div *ngIf="is_edit">
            <div class="image_for_edit" *ngIf="artist.image != 'null'">
                <img src="{{url + 'get-image-artist/' + artist.image}}" />
            </div>

            <p>
                <label>Upload the artist image</label>
                <input type="file" placeholder="Upload image..." (change)="fileChangeEvent($event)" />
            </p>
        </div>

        <input type="submit" value="{{title}}" [disabled]="!formArtist.form.valid" class="btn btn-success"/>
    </form>
</div>